body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: lightskyblue; /* Changed from darkblue */
    font-family: Arial, sans-serif;
}

.title-container {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: royalblue;
    white-space: nowrap;
}

.title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 4px 4px blue;
    padding-bottom: 10px;
}

.date-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 208, 0);
    text-shadow: 2px 2px black;
    font-size: 26px;
}

h1 {
    color: #fff;
    text-align: center;
}

.canvas-container {
    display: inline-block;
    margin-top: 20px;
}

canvas {
    border: 1px solid #000;
    cursor: crosshair;
    display: block;
    margin: 0 auto;
    background-color: #fff;
}

.tools {
    margin-top: 10px;
    color: #fff;
}

.tools label,
.tools input,
.tools button {
    margin: 5px;
}

.tools label {
    color: #fff;
}

.tools input[type="range"],
.tools input[type="color"] {
    vertical-align: middle;
}
