/* Reset default margins and paddings */
body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: darkblue;
    font-size: 69px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    text-shadow: 3px 3px 5px blue;
    background-color: #4169e1;
    display: inline-block;
    border-radius: 8px;
}

.canvas-container {
    margin-top: 25px;
}

canvas {
    border: 1px solid #000;
    cursor: crosshair;
    background-color: #fff;
    border-radius: 4px;
}

.tools {
    margin-top: 10px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tools label,
.tools input,
.tools button {
    margin: 5px;
    font-size: 16px;
}

.tools button {
    padding: 8px 16px;
    background-color: #4169e1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tools button:hover {
    background-color: #3151a9;
}
